## Group Pandas Data By Hour Of The Day

### Preliminaries

In [1]:
# Import Libraries

import pandas as pd
import numpy as np

### Create Data

In [3]:
# Create a time series of 2000 elements, one very five minutes starting on 1/1/2000
time = pd.date_range('1/1/2000', periods=2000, freq='5min')

# Create a pandas series with a random values between 0 and 100, using 'time' as index
series = pd.Series(np.random.randint(100, size=2000), index=time)

### View Data

In [4]:
# View the first few rows of the data
series[0:10]

2000-01-01 00:00:00    33
2000-01-01 00:05:00    34
2000-01-01 00:10:00    74
2000-01-01 00:15:00    35
2000-01-01 00:20:00    26
2000-01-01 00:25:00    13
2000-01-01 00:30:00    34
2000-01-01 00:35:00    84
2000-01-01 00:40:00    30
2000-01-01 00:45:00    79
Freq: 5T, dtype: int32

### Group Data By Time Of The Day

In [5]:
# Group the data by index's hour value, then aggregate by the average
series.groupby(series.index.hour).mean()

0     52.357143
1     52.023810
2     49.357143
3     49.857143
4     45.083333
5     43.035714
6     52.535714
7     53.702381
8     53.023810
9     48.035714
10    46.892857
11    46.000000
12    50.892857
13    50.761905
14    48.845238
15    51.083333
16    52.202381
17    52.964286
18    55.845238
19    49.630952
20    49.726190
21    47.952381
22    47.175000
23    48.930556
dtype: float64