## Load A Json file into Pandas

### Preliminaries

In [1]:
# load library
import pandas as pd

### Load JSON File

In [2]:
# Create URL to JSON file (alternatively this can be a filepath)
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient='columns')

# View the first ten rows
df.head(10)

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0
5        9 2015-01-01 00:00:05         0
6        7 2015-01-01 00:00:06         0
7        1 2015-01-01 00:00:07         0
8        6 2015-01-01 00:00:08         0
9        9 2015-01-01 00:00:09         0